.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    margin-top: 5%;
    background-color: aliceblue;
    padding: 30px;
}

.button-login{
    width: 60%;
    height: 50px;
    font-size: 20px;
    background-color: rgb(196, 227, 255);
    border: none;
    box-shadow: 1.5px 1px 2.5px 0.1px;
    transition: all 1ms;
    margin-top: 5%;
    border-radius: 3px;
}

.button-login:hover{
    cursor: pointer;
    opacity: 0.9;
}

.registrar{
    margin-top: 20px;
}

.registrar-link{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.registrar-link:hover{
    cursor: pointer;
}

.erro{
    color: red;
}