.modal{
    position: absolute;
    top: 15%;
    right: 410px;
    padding: 40px; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: gray;
    border-radius: 15px;
    color: white;
}

body{
    
    
}