
.caixa_texto{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.caixa_texto input{
    font-size: 1.3rem;
    padding: 1%;   
}

.caixa_texto label{
    font-size: 1.3rem;
}