
.caixa_texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.caixa_texto input{
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.caixa_texto label{
    font-size: 20px;
}