
.formulario-cliente{
    margin-top: 1%;
    padding-bottom: 5%;
}

.campos2{
    display: flex;
    justify-content: space-around;
}

.cadastro-cliente{
    display: flex;
    justify-content: center;
    align-items: center;

}