.main{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: rgb(5, 5, 45);
}

.conteudo-escritas{
    width: 500px;
    color: white;
}

.conteudo-escritas h1{
    font-size: 32px;
}

.conteudo-escritas p{
    font-size: 18px;
}

.imagem{
    width: 320px;
    object-fit: cover;
    height: 320px;
    border-radius: 50%;
}